{% extends 'flatpages/default.html' %}
{% block title %}Новости{% endblock %}
{% block content %}

{% for news in all_news %}
<section class="page-section recent-game-page spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-md-6">
                        <div class="recent-game-item">
                            <div class="rgi-thumb set-bg" data-setbg="img/recent-game/1.jpg">
                                <div class="cata new">racing</div>
                            </div>
                            <div class="rgi-content">
                                <h5>{{ news.header }}</h5>
                                <p>news.text</p>
                                <a href="#" class="comment">3 Comments</a>
                                <div class="rgi-extra">
                                    <div class="rgi-star"><img src="img/icons/star.png" alt=""></div>
                                    <div class="rgi-heart"><img src="img/icons/heart.png" alt=""></div>
                                </div>
                            </div>
                        </div>	
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
                    
{% endfor %}
{% endblock content %}