{% extends 'flatpages/default.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Новости{% endblock %}

{% block content %}
<style>
    .card{
        border: none !important;
    }

</style>
<section class="page-section recent-game-page spad">
    <div class="container">
        <div class="btn-ad d-md-flex justify-content-end pb-4">
            {% if user.is_authenticated %}
            <button class="site-btn"><a href="{% url 'news_create' %}" target="_blank">Добавить новость</a></button>
            {% endif %}
        </div>
        <div class="card-group">       
            {% for news in all_news %}
                <div class="col-sm-6 col-md-6 col-lg-6"> 
                    <div class="card mb-3">
                       <a href="{% url 'news_detail' news.id %}">
                            <img class="img-fluid " src="/media/{{news.image}}">
                        </a>  
                        <div class="card-body">
                            <h5 class="card-title">{{ news.header }}</h5>
                            <p class="card-text">{{news.text|truncatewords:30 }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>	
 </div>
</section>
{% endblock content %}
<!-- <div class="col-sm-4 col-md-4 col-lg-4"> 
    <div class="recent-game-item">
        <div class="rgi-thumb set-bg" data-setbg="/media/{{news.image}}">
        </div>
        <div class="rgi-content">
            <h5>{{ news.header }}</h5>
            <p>{{news.text|truncatewords:30 }}</p>
            

            </div>
        </div>
    </div> -->