{%  extends 'flatpages/default.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}{% endblock %}
{% block content %}
<section class="page-section community-page set-bg" data-setbg="{% static 'img/pict.jpg' %}">
    <div class="community-warp spad">
        <div class="container">
            <ul class="community-post-list">
                <li>
                    <div class="community-post">
                        <div class="post-content">
                            <h5>{{ ad.header }}</h5>
                            <p>{{ ad.content_upload|safe}}</p>
                            <div class="post-date mt-3">{{ ad.datetime }}</div>
                            <p class="text-end pe-3" style="color: #0dcaf0;"><small class="text-white">Игра: </small> {{ ad.game }}</p>  
                            <p class="text-end pe-3" style="color: #0dcaf0"><small class="text-white">Пользователь: </small> {{ ad.user }}</p> 
                         </div>
                         <!-- Comment -->
                    <a class="badge badge-light mt-4" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Оставить комментарий</a> 
                        <div class="collapse" id="collapseExample">
                            {% if user.is_authenticated %} 
                                <div class="mb-4">  
                                    <form action="{% url 'ad_detail' ad.id %}" method="POST">
                                        {% csrf_token %}
                                            {{form|crispy}}
                                        <div class="d-md-flex justify-content-md-end mt-1">
                                            <button class="btn btn-outline-warning btn-sm mr-2">Отправить</button>
                                        </div>
                                    </form>
                                </div>
                                {% else %}
                                    <p class="ml-2 mt-2">Авторизуйтесь, чтобы оставить комментарий.</p>
                                {% endif %}

                        <div class="widget-item">
                            <h4 class="widget-title">Комментарии</h4>
                                {% for comment in comments %}
                                    {% if ad.id == comment.ad.id and comment.active %}
                                    <div class="top-comment">
                                        <div class="tc-item"> 
                                            <div class="tc-content">
                                                <p><a href="#">{{comment.user}}</a></p>
                                                <p>{{comment.text}}</p>
                                                <div class="tc-date text-end">{{ comment.datetime }}</div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                {% endfor %}
                        </div>
                        
                        </div> 
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
   
{% endblock %}

