{%  extends 'flatpages/default.html' %}
{% load static %}
{% block title %}Форум{% endblock title %}
{% block content %}

<div class="container">
    <nav class="nav">
        <ul class="nav justify-content-center">
        {% for game in games %}
            <li class="nav-item"><a class="nav-link link-success" href="{% url 'game' game.id %}">{{game}}</a> </li>
        {% endfor %}
        </ul>
    </nav>
</div>


<section class="page-section community-page set-bg" data-setbg="{% static 'img/picture.jpg' %}">
<div class="community-warp spad">
<div class="container">
    <div class="btn-ad d-md-flex justify-content-md-end pb-4">
    {% if user.is_authenticated %}
       <button class="site-btn"><a href="{% url 'ad_create' %}" target="_blank">Добавить объявление</a></button>
    {% endif %}
    </div>
   
{% for ad in ads %}
<ul class="community-post-list">
    <li>
        <div class="community-post">
            <div class="post-content">
                <h5>{{ ad.header }}</h5>
                <p>{{ ad.content_upload|safe|truncatewords:50 }}</p>
                <div class="post-date mt-3">{{ ad.datetime }}</div>
                <p class="text-end pe-3" style="color: #0dcaf0;"><small class="text-white">Игра: </small> {{ ad.game }}</p>  
                <p class="text-end pe-3" style="color: #0dcaf0"><small class="text-white">Пользователь: </small>{{ ad.user }}</p> 
            </div>
        </div>
    </li>
 </ul>
 {% endfor %}



 <div class="site-pagination sp-style-2">
    {% if page_obj.has_previous %}
    <a class="link" href="?page=1">1</a>
    <a href="?page={{ page_obj.previous_page_number }}"><</a>
      {% endif %}
      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a>{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}
   
    {% if page_obj.has_next %}
        <a href="?page={{  page_obj.next_page_number }}">></a>
        <a class="link link-end" href="?page={{  page_obj.paginator.num_pages }}">{{  page_obj.paginator.num_pages }}</a>
    {% endif %}
 </div>

</div>
</div>
</section>
{% endblock content %}
